<div id="header">
      <h6>Let them eat code.</h6>

      <div class="logo-and">
            <a href="/">
                  <h5 class="bg-title text-grey">ラーメン</h5>
                  <h5 class="fg-title">instantRahmen</h5>
            </a>
      </div>

      <h6>Probably Marie Antoinette. Yep.</h6>
</div>