<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
        <header>
            <div class="header-button">
                <h4>レシピ</h4>
                <h4>addRecipe</h4>
            </div>

            <div>
                <h1>ラーメン instantRahmen</h1>
            </div>

            <div class="header-button">
                <h4>安藤</h4>
                <h4>topRahmen</h4>
            </div>
        </header>

        <div class="main-title"><h2>メニュー Menu</h2></div>


        <main>
            <% for (let i = 0; i < recipes.length; i++) { %>
            <div class="code-recipe">
                    <h3>
                        <a href="/<%=recipes[i].id%>"><%=recipes[i].title%></a>
                    <p><%=recipes[i].description%></p>
                    <br /><%=recipes[i].recipe%>
            </div>
            <% } %>
        </main>

    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>
</html>