<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
        <header>
            <div class="header-button">
                <h4>安藤</h4>
                <h4>seeFavorites</h4>
            </div>

            <div>
            <h1>ラーメン instantRahmen</h1>
            </div>
            
            <div class="header-button">
                <h4>レシピ</h4>
                <h4>addRecipe</h4>
            </div>
        </header>

    <footer>
        this app was made determination and a mac. guten tag from アトランタ.
    </footer>
</body>
</html>
