<!DOCTYPE html>
<html lang="en">
    <head>
    <% include ./partials/head.ejs %>
    </head>

    <body>
        <header>
            <h1><a href="/">
                <span class="welcome-jp">ラーメン</span>
                <span class="standard-text">instantRahmen</span>
            </a></h1>
        </header>

        <main>
            <% if (currentUser) { %>
                <h2>Welcome back,<br />
                Chef @<%= currentUser.username %>!</h2>

                <a href="/app" class="strong-button">View recipes</a>
                
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" class="button-second" name="action" value="Log out">
                </form>
            <% } else { %>
                <div class="main-within">
                    <h2>Let's get cooking</h2>
                    <div class="main-within-buttons">
                        <a href="/sessions/new" class="weak-button">Log in</a>
                        <a href="/users/new" class="strong-button">Sign up</a>
                    </div>
                </div>
            <% } %>
        </main>

        <footer><% include ./partials/footer.ejs %></footer>
    </body>
<html>