<!DOCTYPE html>
<html lang="en">

<head> <% include ./partials/head.ejs %> </head>

<body>
    <header> <% include ./partials/header.ejs %> </header>

    <div class="viewscreen">
        <main>
            <% if (!currentUser) { %>
                <h1>Save your favorite code snippets as recipe cards.</h1>

                <div id="start" class="spacers">
                    <a href="/sessions/new"><h2 class="bold-link">Log in</h2>
                    <a href="/users/new"><h2>Sign up</h2>
                </div>

            <% } else { %>
                <h1>Let's get cooking, shall we?</h1>

                <a href="/app"><h2 class="bold-link">Go to recipes.</h2>
                <a href="/app/add-recipe"><h2 class="bold-link">Try something new.</h2></a>
            <% } %>
        </main>

        <img src="images/ramen-square.jpg" class="rounded" />
        <div class="dimmer"></div>

        <% if (currentUser) { %>
            <aside>
                <h4>Welcome, Chef @<%= currentUser.username %>!</h4>
                <h6 class="space"><a href="../sessions/new"  class="users">Log out</a></h6>

                <form action="/sessions/app?_method=DELETE" method="POST">
                    <button type="submit" name="log-out" class="users">Log out</button>
                </form>
            </aside>
        <% } %>
    </div>

    <footer> <% include ./partials/footer.ejs %> </footer>
</body>
<html>