<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    
    <body>
        <header>
            <div id="header-focus">
                <h1>
                    <span id="header-focus-japanese">ラーメン</span>
                    <span id="header-center-den">instantRahmen</span>
                </h1>
            </div>

            <div id="header-first">
                <h4>
                        <a href="/add-recipe">
                    <span class="japanese">レシピ</span>
                    <span class="header-ordinal">addRecipe</span>
                        </a>
                </h4>
            </div>

            <div id="header-second">
                <h4>
                        <a href="/">
                    <span class="japanese">安藤</span>
                    <span class="header-ordinal">topRahmen</span>
                        </a>
                </h4>
            </div>
        </header>

        <main>
            <% for (let i = 0; i < recipes.length; i++) { %>
            <div class="recipe-card">
                <h3><%=recipes[i].title%></h3>
                
                <p><%=recipes[i].description%></p>



                    

                <div class="recipe-card-button"><a href="/<%=recipes[i].id%>">seeRecipe</div>
            </div>
            <% } %>
        </main>

    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>
</html>