<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>

    <header>
        <div id="header-focus">
            <h1>
                <span id="header-center-jp">レシピ</span>
                <span id="header-center-den">addRecipe</span>
            </h1>
        </div>

        <div class="header-first">
            <h4>
                    <a href="/">
                <span class="header-side-jp">ラーメン</span>
                <span class="header-side-den">goHome</span>
                    </a>
            </h4>
        </div>

        <div class="header-right">
            <h4>
                    <a href="/">
                <span class="header-side-jp">安藤</span>
                <span class="header-side-den">topRahmen</span>
                    </a>
            </h4>
        </div>
    </header>

    <main>
        <form action="/" method="POST">
            <input type="text" name="title" placeholder="title" /><br />
            <input type="text" name="description" placeholder="description" /><br />
            <textarea rows="10" cols="30" type="text" name="recipe" placeholder="enter code" wrap="hard"></textarea><br />
            <input type="submit" value="addThisRecipe" />
        </form>
    </main>

    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>
</html>