<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <header>
        <div class="header-button">
            <h4>ラーメン</h4>
            <h4>goHome</h4>
        </div>

        <div>
            <h1>レシピ addRecipe</h1>
        </div>

        <div class="header-button">
            <h4>安藤</h4>
            <h4>topRahmen</h4>
        </div>
    </header>

    <main>

    </main>
    
    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>
</html>