/* * {
    border: 1px solid gold;
} */

/* ///// ————— ///// ————— ///// —————  DEFINITIONS ————— ///// ————— ///// —————///// //
// ////////////////////////////////////////////////////////////////////////////////// */

/* BASIER SQUARE REGULAR */
@font-face {
    font-family: 'Basier Square Regular';
    src: url('fonts/basier-square-regular.eot');
    src: url('fonts/basier-square-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square-regular.woff2') format('woff2'),
         url('fonts/basier-square-regular.woff') format('woff'),
         url('fonts/basier-square-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* BASIER SQUARE MEDIUM */
@font-face {
    font-family: 'Basier Square Medium';
    src: url('fonts/basier-square-medium.eot');
    src: url('fonts/basier-square-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square-medium.woff2') format('woff2'),
         url('fonts/basier-square-medium.woff') format('woff'),
         url('fonts/basier-square-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* BASIER SQUARE SEMIBOLD */
@font-face {
    font-family: 'Basier Square Semibold';
    src: url('fonts/basier-square-semibold.eot');
    src: url('fonts/basier-square-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square-semibold.woff2') format('woff2'),
         url('fonts/basier-square-semibold.woff') format('woff'),
         url('fonts/basier-square-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* BASIER SQUARE BOLD */
@font-face {
    font-family: 'Basier Square Bold';
    src: url('fonts/basier-square-bold.eot');
    src: url('fonts/basier-square-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square-bold.woff2') format('woff2'),
         url('fonts/basier-square-bold.woff') format('woff'),
         url('fonts/basier-square-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* // BODY // ————— // BODY // ————— // BODY // —————  // BODY // ————— // BODY // //
// ////////////////////////////////////////////////////////////////////////////// */

body {
    background-color: #1C1C26;
    color: #e0e0e0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1, h2 {
    font-family: "Basier Square Semibold";
}

h3, h5 {
    font-family: "Basier Square Regular";
}

h1 {
    font-size: 2.75rem;
    line-height: 3.75rem;
    text-align: left;
    margin: 30px 30px;
}

h2 {
    font-size: 2.90rem;
    line-height: 4rem;
}

h3 {
    color: #1C1C26;
    font-size: 2.5rem;
    line-height: 4rem;
}

h5 {
    font-size: 2rem;
    line-height: 1.75rem;
}

p {
    font-family: "Basier Square Regular";
    font-size: 1.25rem;
    line-height: 1.25rem;
}

a {
    text-decoration: none;
}

/* ///// ————— ///// ————— ///// —————  HEADER ————— ///// ————— ///// —————///// //
// ///////////////////////////////////////////////////////////////////////////// */

header {
    width: 100%;
    background-color: #0a0a0d;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
}

    #header-primary {
        color: #d97904;
    }

    #header-secondary {
        display: inline;
        color: #e0e0e0;
    }

    header > h5 {
        line-height: 0;
        margin-top: 40px;
    }

/* ///// ————— ///// ————— ///// —————  NECK ————— ///// ————— ///// —————///// //
// ///////////////////////////////////////////////////////////////////////////// */

.neck-container {
    width: 100%;
    height: 750px;
    background: url('images/ramen-bowl.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* ///// ————— ///// ————— ///// —————  MAIN ————— ///// ————— ///// —————///// //
// ///////////////////////////////////////////////////////////////////////////// */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 40px 0;
}

    #main-start {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-start-buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }







    

/* ///// ————— ///// ————— ///// —————  FORM ————— ///// ————— ///// —————///// //
// ///////////////////////////////////////////////////////////////////////////// */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"], textarea {
    margin: 20px 0;
    height: 75px;
    border: none;
    border-bottom: 3px solid #ffffff;
    outline: 0;
    background-color: rgb(0, 0, 0, 0.0);
    font-family: "Basier Square Regular";
    font-size: 2rem;
    line-height: 1rem;
    text-align: left;
    color: #ffffff;
}

textarea {
    resize: none;
    height: 500px;
    line-height: 3rem;
    border: 2px solid white;
}

    ::placeholder {
        font-family: "Basier Square Regular";
        font-size: 2rem;
        letter-spacing: -1px;
        color: rgba(255, 255, 255, 0.521);
    }

    .stop {
        border: none;
    }

    .recipe-card {
        background-color: rgb(194, 194, 194);
        border-radius: 3px;
        margin: 20px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-view-button {
        border-radius: 50%;
        background-color: #d97904;
        height: 50px;
        width: 50px;
        margin: 20px 20px;
    }

    a > img {
        width: 45px;
        height: 45px;
        text-align: center;
    }

    .recipe-card > p {
        color: #000000;
    }

/* Code for disappearing placeholder
retrieved from Stanhub:
https://stanhub.com/how-to-remove-the-placeholder-on-focus-css-only/ */
/* input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } */
/* End code retrieval */

footer {
    width: 100%;
    left: 0;
    text-align: center;
    font-family: "Basier Square Regular";
    font-size: 1rem;
    line-height: 1.5rem;
    color: #b3b3b3;
    background-color: #0e0e13;
    padding: 20px 10px;
}

#footer-break {
    display: block;
}

.main-attraction {
    border-radius: 5px;
    font-family: "Basier Square Regular";
    font-size: 1.25rem;
    text-decoration: none;
    margin: 20px 0;
    padding: 20px 50px;
    color: #ffffff;
    text-align: center;
    border: 2px solid #d97904;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* // BUTTONS // ————— // BUTTONS // ————— // BUTTONS // —————  // BUTTONS // ————— // BUTTONS // //
// ///////////////////////////////////////////////////////////////////////////////////////////// */

.button-first {
    background-color: #2C9116;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    margin: 20px 0;
    font-family: "Basier Square Regular";
    font-size: 1.25rem;
    text-align: center;
}

.button-second {
    color: #47475f;
    border: 2px solid #47475f;
    background-color: #1C1C26;
    border-radius: 5px;
    padding: 20px 50px;
    margin: 20px 0;
    font-family: "Basier Square Regular";
    font-size: 1.25rem;
    text-align: center;
}

.button-third {
    background-color: #d97904;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    margin: 20px 0;
    font-family: "Basier Square Regular";
    font-size: 1.25rem;
    text-align: center;
}

.mini {
    padding: 15px 20px;
    margin: 20px 10px;
    font-family: "Basier Square Regular";
    font-size: 1.10rem;
    text-align: center;
}

.button-second-short {
    color: #47475f;
    border: 2px solid #47475f;
    background-color: #1C1C26;
    border-radius: 5px;
    padding: 20px 73px;
    margin: 20px 0;
    font-family: "Basier Square Regular";
    font-size: 1.25rem;
    text-align: center;
}



/* body {
    background-color: #cccccc;
    background: url('images/ramen-bowl.jpg') no-repeat 0% fixed / contain;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    font-family: "Basier Square Semibold";
    font-size: 5rem;
    color: #e0e0e0;
}

h2 {
    font-family: "Basier Square Semibold";
    font-size: 4rem;
    line-height: 2.5rem;
    color: #23232e;
    letter-spacing: -2px;
}

h5 {
    font-family: "Basier Square Regular";
    font-size: 1.80rem;
    line-height: 2.5rem;
    color: #b3b3b3;
}

a {
    text-decoration: none;
}
/* ///// ————— ///// ————— ///// —————  NAV ————— ///// ————— ///// —————///// //
// /////////////////////////////////////////////////////////////////////////// */

    /* .welcome {
        margin: 0 100px 0 50px;
    }
    
        .welcome-jp {
            color: #d97904;
        }

        .standard-text {
            display: block;
            color: #e0e0e0;
        }

        .page-description {
            width: 50%;
        } */

/* /////////////////////////////////////////////////////////////////////////// */
    /* .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

        .main-within {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .main-within-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

            .strong-button, .weak-button {
                border-radius: 5px;
                font-family: "Basier Square Regular";
                font-size: 1.25rem;
                text-decoration: none;
                margin-right: 30px;
                padding: 10px 50px;
                white-space: no-wrap;
            }

            .strong-button {
                background-color: #2C9116;
                color: #ffffff;
            }

            .weak-button {
                border: 2px solid #d97904;
                color: #d97904;
            }

            .mixed-button {
                background-color: #d97904;
                color: #ffffff;
            }

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 70%;
    margin: 20px 0;
    height: 75px;
    border: none;
    border-bottom: 5px solid #000000;
    outline: 0;
    background-color: rgb(0, 0, 0, 0.0);
    font-family: "Basier Square Regular";
    font-size: 2rem;
    line-height: 1rem;
    text-align: left;
    color: #000000;
}

input[type="submit"] {
    border: none;
}

    ::placeholder {
        font-family: "Basier Square Regular";
        font-size: 2rem;
        letter-spacing: -1px;
        color: rgb(0, 0, 0, 0.4);
    }

input[type="submit"] {
    width: 50px;
} */

/* Code for disappearing placeholder
retrieved fromm Stanhub:
https://stanhub.com/how-to-remove-the-placeholder-on-focus-css-only/ */
/* input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } */
/* End code retrieval */     