/* =================================== IMPORTS */
/* =================================== IMPORTS */

@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:500,700&display=swap');

:root {
    --carrot: #D07C23;
    --corn: #E1AA00;
    --dimmer: #151523af;
    --greenonion: #7EBA54;
    --tonkotsu: #141422;
}

@font-face {
    font-family: 'Basier Square Regular';
    src: url('fonts/basier-square/basier-square-regular.eot');
    src: url('fonts/basier-square/basier-square-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square/basier-square-regular.woff2') format('woff2'),
         url('fonts/basier-square/basier-square-regular.woff') format('woff'),
         url('fonts/basier-square/basier-square-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basier Square Medium';
    src: url('fonts/basier-square/basier-square-medium.eot');
    src: url('fonts/basier-square/basier-square-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square/basier-square-medium.woff2') format('woff2'),
         url('fonts/basier-square/basier-square-medium.woff') format('woff'),
         url('fonts/basier-square/basier-square-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basier Square Semibold';
    src: url('fonts/basier-square/basier-square-semibold.eot');
    src: url('fonts/basier-square/basier-square-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square/basier-square-semibold.woff2') format('woff2'),
         url('fonts/basier-square/basier-square-semibold.woff') format('woff'),
         url('fonts/basier-square/basier-square-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basier Square Bold';
    src: url('fonts/basier-square/basier-square-bold.eot');
    src: url('fonts/basier-square/basier-square-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square/basier-square-bold.woff2') format('woff2'),
         url('fonts/basier-square/basier-square-bold.woff') format('woff'),
         url('fonts/basier-square/basier-square-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* =================================== BODY PARTS */
/* =================================== BODY PARTS */

body {
    align-items: flex-start;
    background-color: var(--tonkotsu);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Basier Square Regular', sans-serif;
    height: 99vh;
    justify-content: flex-start;
    width: 100%;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0;
    width: 90%;
}

header a {
    color: white;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    width: 100%;
}

footer a {
    color: #ffffff44;
    font-size: 0.5rem;
}

/* =================================== HERO */
/* =================================== HERO */

aside {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

aside > div {
    align-items: center;
    background-color: var(--dimmer);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.chopsticks {
    background-image: url('images/r-chopsticks-square.jpg');
}

aside h2 {
    color: var(--corn);
    text-align: center;
    width: 85%;
}


/* =================================== MAIN */
/* =================================== MAIN */

main {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px auto;
    width: 90%;
}

.content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 40px;
    width: 90%;
}

main h2 {
    color: white;
    margin-bottom: 30px;
}

/* SHOW ALL RECIPES ====================== */

.rolodex {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.rolodex > .card {
    border: none;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    margin-bottom: 30px;
    width: 90%;
}



/* =================================== LINKS */
/* =================================== LINKS */

a {
    cursor: pointer;
    text-decoration: none;
}

.minor {
    color: white;
    font-size: 0.6rem;
    font-weight: 600;
    margin: 0;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.gold-link {
    border-bottom: 3px solid var(--corn);
}

.gold-link:hover {
    color: var(--corn);
    border-bottom: 3px solid white;
}

.green-link {
    border-bottom: 3px solid var(--greenonion);
}

.green-link:hover {
    color: var(--greenonion);
    border-bottom: 3px solid white;
}

.orange-link {
    border-bottom: 3px solid var(--carrot);
}

.orange-link:hover {

    border-bottom: 3px solid white;
}

.red-link {
    border-bottom: 3px solid red;
}

.red-link:hover {
    color: red;
    border-bottom: 3px solid white;
}

.faded-link {
    color: #ffffff44;
    border-bottom: 3px solid #ffffff44;
    margin: 0;
}

.faded-link:hover {
    color: #ff0000;
    border-bottom: 3px solid white;
}


.text-white {
    color: white;
}










#hero, #hero-login {
    background-image: url('images/ramen-square.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.hero-login {
    background-image: url('images/ramen-square.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}


#hero h2 {
    color: var(--corn);
    position: relative;
    text-align: center;
    width: 85%;
    z-index: 2;
}

#hero-show-recipe h2 {
    color: white;
}

.hero-login h2 {
    color: var(--greenonion);
    position: relative;
    text-align: center;
    width: 85%;
    z-index: 2;
}

.hero {

}


/* =================================== PREVIEW */
/* =================================== PREVIEW */

.preview {
    width: 100%;
}

.preview h3 {
    text-align: center;
}

.recipe-carousel {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}




.card-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
    width: 100%;
}

.nav {
    background-color: var(--tonkotsu);
    border: 3px solid var(--carrot);
    border-radius: 50%;
    height: 50px;
    position: relative;
    /* top: 100px; */
    width: 50px;
    z-index: 2;
}

.nav-left {
    left: 10px;
}

.nav-right {
    right: 10px;
}

.card {
    border: none;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    position: relative;
    margin: 0 auto;
    width: 80%;
    z-index: 1;
}

.card-cover {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #151523af;
    height: 100%;
}

.cover-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.card-cover h4 {
    color: var(--corn);
    margin-bottom: 7px;
}

.card-cover p {
    color: white;
    font-size: 0.8rem;
}

.card-cover a {
    color: white;
}



/* =================================== REGISTRATION */

.registration {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 0;
    width: 100%;
}

.link-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 42%;
}

.registration h1 {
    color: var(--greenonion);
}

.registration p {
    color: #828282;
}








.card-information h4 {
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.card-information p {
    color: #828282;
    text-align: center;
}


/* =================================== TEXT */
/* =================================== TEXT */

h1 {
    font-size: 2.35rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 2.2rem;
    letter-spacing: -0.02rem;
    line-height: 2rem;
    margin: 0;
}

h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    line-height: 1.5rem;
    margin: 0;
}

h4 {
    font-family: "IBM Plex Serif", serif;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.1rem;
    margin: 0;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

h6 {
    color: white;
    font-size: 0.6rem;
    font-weight: 600;
    margin: 0;
    padding-bottom: 3px;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin: 0;
    margin-top: 5px;
}





/* ///////////////////////////////////////// */


/* =================================== PRE-CURRENT USER FORMS */
/* =================================== PRE-CURRENT USER FORMS */

.entrance {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px auto 50px auto;
    width: 90%;
}

.account-options {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px auto 30px auto;
    width: 90%;
}

.account-options h6 {
    padding-bottom: 3px;
    font-size: 0.6rem;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--corn);
    margin-top: 25px;
    padding-bottom: 3px;
}

/* =================================== BUTTONS */
/* =================================== BUTTONS */


button {
    border: none;
    cursor: pointer;
    outline: 0;
}

button h6 {
    margin-top: 0;
    padding-top: 0;
}

.btn-normal {
    border-radius: 3px;
    font-size: 1rem;
    padding: 7px 25px;
}

.btn-flush {
    background-color: unset;
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: auto;
}

.orange {
    background-color: var(--carrot);
    color: var(--white);
}










header, .logo-and, .tool-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#connector {
    display: inline;
}

/* ============ IMAGE ============ */
/* ============ IMAGE ============ */

/* .img-circle, .img-dim {
    align-self: flex-start;
    border-radius: 100%;
    height: 500px;
    position: absolute;
    width: 500px;
}

.img-circle {
    z-index: -10;
}

.img-dim {
    background-color: #0000006e;
    z-index: -5;
} */


/* ============ TEXT ============ */
/* ============ TEXT ============ */


.btn-less {
    font-family: -apple-system, BlinkMacSystemFont, 'Basier Square Medium', sans-serif;
}

button, input, textarea, a {
    font-family: -apple-system, BlinkMacSystemFont, 'Basier Square Regular', sans-serif;
}






.split {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.split > input {
    width: 40%;
}


.text-orange { 
    color: var(--carrot);
}

.text-gold {
    color: var(--corn);
}


/* =================================== INPUTS */
/* =================================== INPUTS */

::placeholder {
    color: #ffffff54;
    font-size: 0.8rem;
}

input {
    background-color: #ffffff0a;
    border: none;
    border-radius: 3px;
    color: #ffffff54;
    font-size: 0.8rem;
    margin-bottom: 15px;
    outline: none;
    padding: 5px 10px;
    height: 35px;
    width: 100%;
}

.entrance input {
    width: 85%;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

textarea {
    background-color: #ffffff0a;
    border: none;
    border-radius: 3px;
    color: #ffffff54;
    font-size: 0.8rem;
    outline: none;
    padding: 15px;
    width: 100%;
    height: 100px;
    resize: none;
}

.entries {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.input-bundle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.input-bundle input {
    margin-bottom: 0;
    width: 100%;
}

.input-bundle h6 {
    margin-right: 20px;
    padding-bottom: 0;
}






/* =================================== OPTIONS */
/* =================================== OPTIONS */

.options {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.opt-page {
    margin: 0 auto 40px;
    width: 80%;
}






/* =================================== CARDS */
/* =================================== CARDS */

.card-options {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    margin-top: 20px;
    width: 80%;
}

.form-options {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.form-button {
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 15px;
    padding: 10px 20px;
}

.green {
    background-color: var(--greenonion);
    color: var(--tonkotsu);
}

.entries {
    margin-bottom: 50px;
}

#menu-links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0 40px 0;
}

.menu-link {
    color: var(--greenonion);
    font-size: 2.35rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.menu-link:hover {
    color: var(--corn);
}

.removed {
    margin-top: 50px;
}

.solo {
    margin-top: 20px;
}