<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
      <header>
        <% include ../partials/header.ejs %>
      </header>

      

      <div class="main">
          <% for (let i = 0; i < recipes.length; i++) { %>
            <div class="recipe-card">
                <h3><%=recipes[i].title%></h3>
                <p><%=recipes[i].description%></p>


            <div class="tools">
                <a href="/<%=recipes[i].id%>" class="button-first mini">See Recipe</a>

                <form action="/<%=recipes[i].id%>?_method=DELETE" method="POST">
                    <button class="button-third mini" type="submit" value="Delete Recipe">Delete Recipe</button>
                </form>
            </div>

            <a href="/app/add-recipe" class="button-third">Add Recipe</a>



            </div>
            <% } %>

          <div class="main-within">
            <form action="/sessions?_method=DELETE" method="POST" class="just">
              <input type="submit" class="button-second" name="action" value="Log out">
            </form>
          </div>
      </div>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>