<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <div class="neck">
            <h1>Your recipes are down below. Hungry for more?</h1>

            <a href="/app/add-recipe" class="button-third">Add Recipe</a>
        </div>

        <div class="main-xl">
          <% for (let i = 0; i < recipes.length; i++) { %>
            <div class="recipe-card">
                <img src="<%=recipes[i].image%>" />

                <div class="recipe-card-info">
                    <h6><%=recipes[i].title%></h6>
                    <p><%=recipes[i].description%></p>

                    <a href="/<%=recipes[i].id%>" class="button-first mini">See Recipe</a>
                </div>
            </div>
          <% } %>
        </div>

        <main>
          <h3>You don't actually have to log out. You can just leave. And come right back.</h3>
            <form action="/sessions/app?_method=DELETE" method="POST">
                <input type="submit" class="button-second-short" name="action" value="Log Out">
            </form>
        </main>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>