<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <div class="neck">
            <h1>Add a new code recipe. Maybe spice things up this time?</h1>
        </div>

        <div class="main-xl">
            <form action="/app" method="POST">
                <input type="text" name="title" placeholder="title" /><br />
                <input type="text" name="description" placeholder="description" /><br />
                <input type="url" name="image" placeholder="image link" /><br />
                <input type="text" name="line_1" placeholder="line 1 (required)" /><br />
                <input type="text" name="line_2" placeholder="line 2" /><br />
                <input type="text" name="line_3" placeholder="line 3" /><br />
                <input type="text" name="line_4" placeholder="line 4" /><br />
                <input type="text" name="line_5" placeholder="line 5" /><br />
                <input type="text" name="line_6" placeholder="line 6" /><br />
                <input type="submit" class="text-button primary" value="Add Recipe" />
            </form>
        <div>
</body>
</html>