<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>

    <aside class="chopsticks">
        <div>
            <h2 class="gold-text">Maybe spice it up this time, hm?</h2>
        </div>
    </aside>

    <main>
        <div class="main-content">
            <h2>New recipe.</h2>

            <form action="/app" method="POST" id="recipe-form" class="entries">
                <input type="hidden" name="user" value="<%= currentUser.username %>" />

                <div class="input-bundle">
                    <h6>Title</h6>
                    <input type="text" name="title" required />
                </div>

                <div class="input-bundle">
                    <h6>Image</h6>
                    <input type="text" name="image" required />
                </div>

                <div class="input-bundle">
                    <h6>Description</h6>
                    <input type="text" name="description" required />
                </div>

                <div class="input-bundle">
                    <h6>Recipe</h6>
                    <textarea form="recipe-form" name="recipe" rows=20
                        placeholder="This is where your snippet goes."
                        required></textarea>
                </div>

                <div class="options forms">
                    <button type="submit" id="recipe-form" class="btn-standard green-fill">Add recipe</button>
                    <a href="/app" class="h6 danger">Never mind</a>
                </div>
            </form>
        </div>

        <% include ../partials/footer.ejs %>
</body>

</html>