<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="box-left">
            <h3 class="tx-gold">Maybe spice it up this time, hm?</h3>

            <form action="/app" method="POST" id="recipe-form">

                <div class="side-by">
                    <input type="text" name="title" placeholder="Recipe title" />
                    <input type="url" name="image" placeholder="Image link" />
                </div>

                <input type="text" name="description" placeholder="Brief description" />
                <textarea form="recipe-form" name="recipe" rows=20
                    placeholder="This isn't your grandmother's recipe... unless she was a coder. Then maybe it was."
                    required></textarea>

                <div class="row-flex">
                    <input type="submit" class="series1 bg-green" value="Add Recipe" />
                    <a href="/app">
                        <h6 class="hint">Cancel add</h6>
                    </a>
                </div>
            </form>
            
        </div>

        <div class="box-right">
            <div class="img-dim"></div>
            <img src="../images/ramen-square.jpg" class="img-circle" />
        </div>
    </main>

    <footer><% include ../partials/footer.ejs %></footer>

</body>

</html>