<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <% include ../partials/header.ejs %>

    <aside class="hero-login">
        <div class="dimmer">
            <h2>Log in & preheat oven to... 5000?!</h2>

        </div>
    </aside>

    <main>
        <div class="page-options">
            <a href="../users/new" class="minor green-link">Did you miss a step? Click here to sign up.</a>
        </div>

        <form action="/sessions" method="POST" id="login-form" class="entrance">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" minlength="8" placeholder="password" required>
            <button type="submit" name="login-go" class="btn-normal orange">Go</button>
        </form>

    </main>

    <% include ../partials/footer.ejs %>
</body>
<html>