<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
      <%# LEFT CONTAINER %>
      <div id="welcome">
          <div id="page-title">
              <h1>
                  <span class="welcome-jp">ラーメン</span>
                  <span class="standard-text">instantRahmen</span>
              </h1>
          </div>

          <div id="page-description">
              <h5>create your favorite code snippets and save them as recipes</h5>
          </div>
      </div>

      <%# RIGHT CONTAINER %>
      <div id="main">
        <div id="landing-register">
          <h2>Log in</h2>
              <div>
          <form action="/sessions" method="POST">
                <input type="text" class="validate" name="username" placeholder="username" required>
                <input type="password" class="validate" name="password" placeholder="password" required>
                <input type="submit" class="strong-button" value="Log in">
          </form>
        </div>
      </div>
</body>
</html>