<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <header> <% include ../partials/header.ejs %> </header>

    <div class="viewscreen">
        <main>
            <h1>Log in & preheat oven to... 5000?!</h1>

            <div id="start">
                <form action="/sessions" method="POST" id="registration">
                    <input type="text" name="username" placeholder="username" required>
                    <input type="password" name="password" minlength="8"
                        placeholder="password (8+ characters)" required>
                        <button type="submit" name="sign-up-go" class="btn-std fill-orange">Go</button>
                </form>
            </div>

            <h6 class="space"><a href="../users/new"  class="users">Whoa, I missed a step.</a></h6>
        </main>

        <img src="../images/ramen-square.jpg" class="featured" />
        <div class="overlay-dim"></div>
    </div>

    <footer> <% include ../partials/footer.ejs %> </footer>
</body>
<html>