<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <aside>
        <header>
            <h5><a href="/">
            <span id="highlight">ラーメン</span>
            <span id="header-connector">instantRahmen</span>
            </a></h5>
        </header>

        <h3>Log in below or click this button to sign up.</h3>
        <a href="/users/new">
            <button type="button" name="sign-up" class="text-button first">Sign up</button></a>
    </aside>

    <main>
        <h2>Log in</h2>
            <form action="/sessions" method="POST">
                <input type="text" class="validate" name="username" placeholder="username" required>
                <input type="password" class="validate" name="password" placeholder="password" required>
                    <button type="submit" name="log-in-go" class="icon-button">
                        <img src="../images/buttons/go.png" />
                    </button>
            </form>
     </main>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>