<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <!-- HEADER : JAPANESE & SITE TITLE -->
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <div class="flex-container">
    <aside>
        <h3>If you don't have an account, click here to sign up.</h3>
        <a href="/users/new">
            <button type="button" name="sign-up" class="text-button primary">Sign up</button></a>
    </aside>

    <main>
        <h2>Log in</h2>
            <form action="/sessions" method="POST">
                <input type="text" class="validate" name="username" placeholder="username" required>
                <input type="password" class="validate" name="password" placeholder="password" required>
                    <button type="submit" name="log-in-go" class="icon-button">
                        <img src="../images/buttons/go.png" />
                    </button>
            </form>
     </main>
    </div>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>