<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <header> <% include ../partials/header.ejs %> </header>

    <main>
        <div class="box-left">
            <h1 class="up-z">Log in & preheat oven to... 5000?!</h1>

            <div id="start">
                <form action="/sessions" method="POST" id="reg-form" class="row-flex">
                    <input type="text" name="username" placeholder="username" required>
                    <input type="password" name="password" minlength="8"
                        placeholder="password" required>
                        <button type="submit" name="sign-up-go" class="series-one bg-green">Go</button>
                </form>
            </div>

            <h6><a href="../users/new"  class="hint">Whoa, I missed a step.</a></h6>
        </div>

        <div class="box-right">
            <div class="img-dim"></div>
            <img src="../images/ramen-square.jpg" class="img-circle" />
        </div>
        
    </main>

    <footer> <% include ../partials/footer.ejs %> </footer>
</body>
<html>