<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <header> <% include ../partials/header.ejs %> </header>

    <main>
        <div class="box-left">
            <h1>Step one. Sign up. Like right now.</h1>

            <div id="start">
                <form action="/users" method="POST">
                    <input type="text" name="username" placeholder="username" required>
                    <input type="password" name="password" minlength="8" placeholder="password (8+ characters)"
                        required>
                    <button type="submit" name="log-in-go" class="btn-std bg-green">Go</button>
                </form>
            </div>

            <h6><a href="../sessions/new" class="hint">I already have an account.</a></h6>
        </div>

        <img src="../images/ramen-square.jpg" class="featured" />
        <div class="overlay-dim"></div>
    </main>

    <footer> <% include ../partials/footer.ejs %> </footer>
</body>
<html>