<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <% include ../partials/header.ejs %>

    <aside class="chopsticks">
        <div>
            <h2>Step one. Sign up. Like right now.</h2>
        </div>
    </aside>

    <main>
        <div class="options opt-page">
            <a href="../sessions/new" class="minor green-link">Already have an account? Click here to log in</a>
        </div>

        <form action="/users" method="POST" id="reg-form" class="entrance">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" minlength="8" placeholder="password (at least 8 characters)"
                required>
            <button type="submit" name="signup-go" class="form-button orange">Get started</button>
        </form>
    </main>

    <% include ../partials/footer.ejs %>

</body>
<html>