<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>
      <header>
        <% include ../partials/header.ejs %>
      </header>

          <p>create your favorite code snippets and save them as recipes</p>
      </div>

      <%# RIGHT CONTAINER %>
      <div class="main">
        <div class="main-within">
          <h2>Sign up</h2>
            <form action="/users" method="POST">
                <input type="text" class="validate" name="username" placeholder="username" required>
                <input type="password" class="validate" name="password" minlength="8" maxlength="32" placeholder="password" required>
                <input type="submit" class="strong-button stop" name="action" value="Sign up">
            </form>
        </div>
      </div>
</body>
</html>