<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <aside>
        <header>
            <h5><a href="/">
            <span id="highlight">ラーメン</span>
            <span id="header-connector">instantRahmen</span>
            </a></h5>
        </header>

        <h3>If you already have an account, click here to log in.</h3>
        <a href="/sessions/new">
            <button type="button" name="sign-up" class="text-button first">Log in</button></a>
    </aside>

    <main>
          <h2>Sign up</h2>
            <form action="/users" method="POST">
                <input type="text" class="validate" name="username" placeholder="username" required>
                <input type="password" class="validate" name="password" minlength="8" placeholder="password (8+ characters)" required>
                <button type="submit" name="log-in-go" class="icon-button">
                        <img src="../images/buttons/go.png" />
                </button>
            </form>
      </main>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>