<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <header> <% include ../partials/header.ejs %> </header>

    <div class="viewscreen">
        <main>
            <h1>Step one. Sign up. Like right now.</h1>

            <div id="start">
                <form action="/users" method="POST">
                    <input type="text" name="username" placeholder="username" required>
                    <input type="password" name="password" minlength="8" placeholder="password (8+ characters)"
                        required>
                    <button type="submit" name="log-in-go" class="btn-std fill-orange">Go</button>
                </form>
            </div>

            <h6 class="space"><a href="../sessions/new" class="users">I already have an account.</a></h6>
        </main>

        <img src="../images/ramen-square.jpg" class="featured" />
        <div class="overlay-dim"></div>
    </div>

    <footer> <% include ../partials/footer.ejs %> </footer>
</body>
<html>